.banner {
    width: 100%;
    background-color: #E5D0AC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-weight: 600;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    height: 25px;
  }
  
  .banner-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .logo {
    height: 34px;
    width: 34px;
    border-radius: 50%;
  }
  
  .greeting {
    font-size: 1rem;
    color: #000;
  }
  
  .signout-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .signout-icon {
    height: 24px;
    width: 24px;
  }
  